body {
    margin: auto;
    margin-top: 50px;
    text-align: center;
}

title {
    display: block;
    font-size: 32px;
}

#story-container {
    display: none;
    margin:auto;
    border: 2px solid black;
    width: 500px;
    padding: 30px 30px 30px 30px;
}

form {
    text-align: right;
    width: 280px;
    margin: auto;
    padding-right: 50px;
}

button {
    text-align: center;
    margin-bottom: 50px;
}

.name, .obj, .adv, .adj {
    color: green;
}